/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

/* Header */
#titleHeader {
    background-color: #34DBB3;
    text-align: center;
    color: #1400FF;
    padding-bottom: 1%;
    padding-top: 1%;
    margin-bottom: 0%;
    font-family: 'Itim', cursive;
    font-size: 77px;
}
/* Hero Image */
.imgFit {
    object-fit: cover;
}

#heroImg {
    background-image: url(../Images/Blue\ cloudy\ sky.jpg);
    object-fit: contain;
    height: 400px;
    background-repeat: no-repeat;
}
/* Text */
.txtCenter {
    text-align: Center;
}
/* Padding */
.PaddingT {
    padding-top: 1%;
}
/* Buttons */
.saveBtn {
    border: 2px solid black;
    width: 25%;
    height: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 10px;
    
}

/* Footer */
.webFooter {
    background-color: #d9d9d9;
    padding-top: 1%;
    padding-bottom: 1%;
}

.scrollBar{
    height: 22%;
    background-color: #d9d9d9;
}

.favoritesList{
    font-size: 40px;
    text-align: center;
    list-style-position: inside;
    font-family: 'Itim', cursive;
}

.tableMargin {
    padding-top: 20px;
    padding-bottom: 20px;
}