/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

/* Header */
#titleHeader {
    background-color: #34DBB3;
    text-align: center;
    color: #1400FF;
    padding-bottom: 1%;
    padding-top: 1%;
    margin-bottom: 0%;
    font-family: 'Itim', cursive;
    font-size: 77px;
}
/* Hero Image */
.imgFit {
    object-fit: cover;
    
}

#heroImg {
    background-image: url(../Images/Blue\ cloudy\ sky.jpg);
    object-fit: cover;
    background-position: 10% 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-size: 100% 120%;
}
/* Text */
.txtCenter {
    text-align: Center;
}
/* Padding */
.PaddingT {
    padding-top: 1%;
}
/* Buttons */
.saveBtn {
    border: 2px solid black;
    font-family: 'Itim', cursive;
    font-weight: bold;
    background-color: #ffff;
    width: 35%;
    height: 10%;
    margin-top: 13.25%;
    border-radius: 10px;
    margin-left: 33%;
    
}

/* Footer */
.webFooter {
    background-color: #d9d9d9;
    padding-top: 1%;
    padding-bottom: 1%;
}

.scrollBar{
    height: 130%;
    background-color: #d9d9d9;
    
}

#fvList-width{
    width: 90%;
    padding-top: 2%;
}
.favoritesList{
    font-size: 40px;
    text-align: center;
    list-style-position: inside;
    font-family: 'Itim', cursive;
}

.tableMargin {
    padding-top: 20px;
    padding-bottom: 20px;
}

.search-bar{
    width: 30%;
    margin-left: 1%;
}

.trBorder{
    padding: 25px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
.trBorder-left{
    border-left: 2px solid black;
}
.trBorder-right {
    border-right: 2px solid black;
}

.fontBold{
    font-weight: bold;
}